@charset "utf-8";
/*************** THEME VARIABLES  ***************/
$color--black: #222222;
$color--white: #FBFBFB;
$color--blue: #00A5D5;
$color--pink: #EE86A8;
$color--yellow: #EED786;
$font__sans-serif: "azo-sans-web", "helvetica", sans-serif;
$font__sans-serif--weight--regular: 400;
$font__sans-serif--weight--medium: 500;
$font__sans-serif--weight--bold: 700;
$font__sans-serif--weight--black: 900;
$font__serif: "tribute", "Georgia", "Times New Roman", serif;
$font__serif--weight--regular: 400;
$transition: 0.5s;
/* BOOTSTRAP NOTES & RESOLUTION REFERENCE */
// xs < 768px (.container @ auto)
// sm >= 768px (.container @ 750px)
// md >= 992px (.container @ 970px)
// lg >= 1200px (.container @ 1170px)

// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px




/*************** xs < 768px (.container @ auto)  ***************/

// STRUCTURE (xs)
.section {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


// IMAGE (xs)

// TYPOGRAPHY (xs)
h1, h2, h3, h4, h5, h6, p, a {
	color: $color--black;
	font-family: $font__sans-serif;
	font-weight: $font__sans-serif--weight--bold;
	line-height: 135%;
	font-size: 4.0rem;
	text-align: center;
}
p {
	font-size: 1.6rem;
	line-height: 125%;
}
a {
	font-size: 1.6rem;
	&:visited, &:focus, &:active {
		color: $color--black;
		outline: none;
		text-decoration: none;
	}
}
.version {
	position: fixed;
	top: 5px;
	left: 5px;
	color: $color--black;
	font-weight: 500;
	font-size: 8px;
	letter-spacing: 0px;
	text-align: left;
}










/*************** sm >= 768px (.container @ 750px)  ***************/
@media (min-width: 768px) and (max-width: 991px) {
// STRUCTURE (sm)

// TYPOGRAPHY (sm)

} /* } @media (min-width: 768px) */










/*************** md >= 992px (.container @ 970px)  ***************/
@media (min-width: 992px) {
// STRUCTURE (md)

// TYPOGRAPHY (md)

} /* } @media (min-width: 992px) */










/* SNIPPETS & NOTES */
.center__vh--css {
	display: inline-block;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
}
.center__vh--flex {
	align-items: center; /* VERTICAL ALIGNMENT */
	display: flex;
	height: 100%;
	justify-content: center; /* HORIZONTAL ALIGNMENT */
	// margin: 0px;
	// padding: 0px;
}
.debug {
	border: 1px dashed #FF0000 !important;
}
.debug--nullify {
	border: 1px dashed #00C8FF !important;
	font-size: 0;
	line-height: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding: 0;
}
.dummy-height {
	height: 1000vh;
}
.fill-- {
	&c {
		background-color: #BCE2EE;
	}
	&m {
		background-color: #F3C7D4;
	}
	&y {
		background-color: #FFFCC8;
	}
	&k {
		background-color: #C0C1BF;
	}
}
.margin__all--none {
	margin: 0px;
}
.margin__vertical--none {
	margin-bottom: 0px;
	margin-top: 0px;
}
.margin__horizontal--none {
	margin-left: 0px;
	margin-right: 0px;
}
.margin__horizontal--auto {
	margin-left: auto;
	margin-right: auto;
}
.padding__all--none {
	padding: 0px;
}
.padding__vertical--none {
	padding-bottom: 0px;
	padding-top: 0px;
}
.padding__horizontal--none {
	padding-left: 0px;
	padding-right: 0px;
}
.display--inline {
	display: inline;
}
.display--block {
	display: block;
}
.display--none {
	display: none;
}
